.conteiner{
  position: fixed;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100vw; 
  margin-top: 10px;
  flex-direction: column;
  color: #fff;
}

.conteinerAnimation {
  animation: Logo 2s;
}

.conteinerAnimation img {
  animation: logo 2s;
}

.conteiner img {
  width: 50px;
  height: 50px;
}

.conteinerChildren{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 90px;
}

@keyframes Logo {
  from {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
  }
  to{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes logo {
  from {
    height: 300px;
    width: 300px;
    padding-bottom: 10px;
  }
  
  to {
    height: 50px;
    width: 50px;
  }
}