.conteiner {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 50px;
}

.conteinerDashboard{
  display: block;
  width: 100%;
  height: 95%;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.navigation{
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  width: 100%;
}

.navigation > div {
  padding: 5px 0;
  width: 100%;
  border: #034d0a dotted;
  border-width: 0 1px 1px 0;
  cursor: pointer;
}

.selected {
  background-color: #333;
}

.alert {
  position: relative;
  background-color: rgba(255, 0, 0, 0.5);
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
  border-radius: 5px;
  border: 1px #fff solid;
}

.alert p{
  display: inline;
}

.alert p:nth-child(2){
  cursor: pointer;
  position: absolute;
  right: 15px;
}

@keyframes menu-slide {
  from {
    left: -95px;
  }
  to{
    left: 0;
  }
}