.conteiner {
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
  margin: 0 50px;
}

.conteinerDashboard{
  position: relative;
  display: block;
  width: 100%;
  height: 95%;
  background-color: #222;
  border: #fff 1px solid;
  border-radius: 20px;
  overflow: hidden;
}

.menuButton{
  position: absolute;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

.navigation{
  text-align: center;
  list-style: none;
  position: absolute;
  height: 100%;
  padding: 30px 10px 0;
  border-radius: 20px 0 0 20px;
  background-color: #111;
  transition: .7s;
}

.navigationOn{
  left: 0;
}

.navigationOff{
  left: -95px;
}

.selected {
  background-color: #333;
}

.alert {
  position: relative;
  background-color: rgba(255, 0, 0, 0.5);
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
  border-radius: 5px;
  border: 1px #fff solid;
}

.alert p{
  display: inline;
}

.alert p:nth-child(2){
  cursor: pointer;
  position: absolute;
  right: 15px;
}

@keyframes menu-slide {
  from {
    left: -95px;
  }
  to{
    left: 0;
  }
}