html, body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a, button {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
  border: none;
  cursor: inherit;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url("./fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
 }

 .font{
  font-family: "Quicksand";
 }
 
 
.arrowDown{
  transform: rotate(90deg);
  transition: 1s;
}

.arrowUp{
  transform: rotate(-90deg);
  transition: .8s;
}