.conteiner{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.conteiner img{
  width: 300px;
  height: 300px;
}

.conteiner div {
  font-size: xx-large;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}