@font-face {
  font-family: 'FonteLogo';
  src: url("./fonts/Quicksand.ttf");
}

.conteiner{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: 'FonteLogo';
}

.conteiner img {
  width: 200px;
  height: 200px;
}

.conteiner div {
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.text {
  margin-left: 20px;
  font-size: 40px;
}

.conteiner p {
  color: #ffffff;
  text-align: center;
  padding: 0 70px 0 70px;
  max-width: 800px;
}

.fpedido {
  border: solid 1px;
  border-radius: 18px !important;
  background-color: #ffffff;
  color: #032A0D !important;
  padding: 6px 25px 6px 25px !important;
  transition: color 1s, letter-spacing 1s;
  font-weight: bold;
  letter-spacing: 1px;
}

.fpedido:hover {
  background-color: #032A0D;
  color: #ffffff !important;
  cursor: pointer;
  letter-spacing: 2px;
}