.button{
  margin: 10px 10px 0;
  text-align: center;
}

.button button{
  background-color: #032A0D;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.button button:hover{
  cursor: pointer;
}

.button button:disabled{
  background-color: hsla(135, 87%, 9%, 0.8);
}