.button {
  display: block;
  margin: 20px auto;
  padding: 7px 60px 7px 60px;
  background-color: #ffffff;
  color: #032A0D;
  transition: color 1s, letter-spacing 1s;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 20px;
  border: solid 1px;
  border-radius: 12px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}

.button:disabled {
  color: #032A0D !important;
  background-color: #888 !important;
  letter-spacing: 1px !important;
  cursor: not-allowed;
  transition: none;
}

.button:hover {
  background-color: #032A0D;
  color: #ffffff;
  letter-spacing: 2px;
}