.conteiner{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
}

.conteiner form{
  display: flex;
  flex-direction: column;
}

.image{
  user-select: none;
  -webkit-user-drag: none;
}