.card {
  opacity: 1;
  animation: card 3s;
  width: 365px;
  font-family: "Quicksand";
}

@keyframes card {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nome{
  width: 100%;
  margin: 2px auto;
}

.nome input{
  width: 100%;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #888;
  background-color: #032A0D;
  color: #ffffff;
  font-family: "Quicksand";
  font-weight: bold;
  margin: 5px 0 5px 0;
}

.tipo {
  margin: 5px 0 -10px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.tipoBebida {
  margin: 10px 0 5px 0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.salgadoContainer {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;
}

.imagemSalgado {
  width: 60px;
  height: 55px;
  border-radius: 9px;
  margin-right: 10px;
}

.produto {
  margin: 5px 10px -10px 0;
  width: 280px;
}

.produto p {
  font-weight: bold;
  letter-spacing: 1px;
}

.listaProdutos {
  display: flex;
  flex-direction: column;
}

.containerImagemProdutos {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.divisor {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 10px;
}

.espacoAntes {
  margin-top: 20px;
}

.produto input[type=radio] {
  display: none;
}

.svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  rotate: 20deg;
  vertical-align: middle;
}

.svgOn svg{
  fill: #999999;
}

.svgOff svg{
  fill: #032A0D;
}

.produto p {
  display: inline;
  margin-left: 5px;
}

.descricao {
  color: hsla(100, 100%, 0%, 0.8);
  margin: 4px 0 10px 0;
  font-size: 14px;
}

.dignome {
  font-weight: bold;
  letter-spacing: 1px;
}