.card {
  opacity: 1;
  animation: card 3s;
}

@keyframes card {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nome{
  width: inherit;
  margin: 2px 10px;
}

.nome input{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: 1px solid #888;
}

.nome input:focus{
  outline: 2px solid #888;
}

.tipo {
  border-top: 1px dashed #032A0D;
  margin-top: 5px;
}

.produto {
  margin: 5px 10px 0;
  width: 280px
}

.produto input[type=radio] {
  display: none;
}

.svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  rotate: 20deg;
}

.svgOn svg{
  fill: gray;
}

.svgOff svg{
  fill: #032A0D;
}

.produto p {
  display: inline;
  margin-left: 5px;
}

.descricao {
  color: hsla(100, 100%, 0%, 0.6);
}