.conteiner{
  display: flex;
  justify-content: center;
  height: 100%;
}

.comanda{
  margin-bottom: 20px;
}

.pedido{
  margin: 10px;
}

.button{
  margin: 10px;
  text-align: center;
  width: 100%;
  background-color: rgb(17, 68, 17);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  width: 200px;
}

.button:hover{
  cursor: pointer;
}

.button button{
  width: 100%;
  height: 100%;
}